<form name="fail" method="POST" action="main.php?mode=lisa" enctype="multipart/form-data">
<input type="file" name="tekst"/><br/>
<input type="submit" value="Laadi üles" style="margin:5px" />
</form>
<?php if (isset($info)):?>
	<?php foreach($info as $i):?>
		<div class="info"><?php echo htmlspecialchars($i); ?></div>
	<?php endforeach;?>
<?php endif;?>
